# =========================
# 🔹 Virtual Environments
# =========================
venv/
.venv/

# =========================
# 🔹 Python Cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# 🔹 Jupyter Notebook
# =========================
.ipynb_checkpoints/


# =========================
# 🔹 Data (optional)
# =========================
data/raw/*
!data/raw/sample_data.csv